/* 🍂Flex🍃 */
.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

/* 🌈Color🌈 */
.bgColor-lapis-lazuli {
  background-color: #1f4788;
}

.bgColor-cypress-bark {
  background-color: #752e23;
}

.bgColor-young-bamboo {
  background-color: #6b9362;
}

.bgColor-coarse-wool {
  background-color: #181b26;
}

.bgColor-cherry-blossom {
  background-color: #fcc9b9;
}

.bgColor-wisteria {
  background-color: #89729e;
}

/* 📦Height📦 */

/* 📦vh */
.fixed-height-100vh {
  min-height: 100vh;
  max-height: 100vh;
}

.fixed-height-70vh {
  min-height: 70vh;
  max-height: 70vh;
}

.fixed-height-25vh {
  min-height: 25vh;
  max-height: 25vh;
}

/* 📦Percents */
.fixed-height-91-percent {
  min-height: 91%;
}

.fixed-height-7_5-percent {
  min-height: 7.5%;
  max-height: 7.5%;
}

/* 📦Width📦 */
.fixed-width-15-percent {
  min-width: 15%;
  max-width: 15%;
}

.fixed-width-75-percent {
  min-width: 75%;
  max-width: 75%;
}

/* ✋Margins🤚 */
.margin-2-percent {
  margin: 2%;
}

/* .margin-vertical-1_25-percent {
  margin-top: 1.25%;
  margin-bottom: 1.25%;
} */

/* 🍂Old🍃 */
/* .flex {
  display: flex;
}

.space-between-justify {
  justify-content: space-between;
}

.space-around-justify {
  justify-content: space-around;
}

.space-evenly-justify {
  justify-content: space-evenly;
}

.center-justify {
  justify-content: center;
}

.bgColor-red {
  background-color: red;
}

.bgColor-antiquewhite {
  background-color: antiquewhite;
}

.bgColor-burlywood {
  background-color: burlywood;
}

.bgColor-blue {
  background-color: blue;
}

.bgColor {
  background-color: #fcc9b9;
}

.min-height-75vh {
  min-height: 75vh;
}

.min-height-100vh {
  height: 100vh;
}

.set-height-35vh {
  height: 35vh;
  min-height: 35vh;
}

.set-height-10vh {
  height: 10vh;
  min-height: 10vh;
}

.width-100vw {
  width: 100vw;
}

.min-width-100vw {
  min-width: 100vw;
}

.min-width {
  min-width: 25vw;
}

.set-width-60vw {
  width: 60vw;
  min-width: 60vw;
}

.set-width-10vh {
  width: 10vh;
  min-width: 10vh;
}

.set-width-100percent {
  width: 100%;
  min-width: 100%;
}

.font-size {
  font-size: 35px;
}

.column {
  flex-direction: column;
}

.center-align {
  align-items: center;
}

.padding-bottom {
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.border-radius-10px {
  border-radius: 10px;
}

.border-radius-100percent {
  border-radius: 100%;
}

.border-radius {
  border-radius: 10px;
}

.padding-20px {
  padding: 20px;
}

.padding {
  padding: 7.5px;
}

.margin-bottom {
  margin-bottom: 75px;
}

.color-black {
  color: black;
} */
